.wrapper {
  min-width: 40rem;
  height: 100%;
  display: flex;
  justify-content: center;
}

.commentBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;

  padding: 1.4rem;
  width: 33rem;
  background-color: #f3f5f7;
  border-radius: 10px;
}

.commentsArea {
  display: flex;
  flex-direction: column;
  max-height: 50rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-right: 1rem;
  gap: 2.2rem;
  padding: 1.6rem;

  border-radius: 10px;
  background-color: #fff;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.commentsArea:-webkit-scrollbar {
  display: none;
}

.commentInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileImgContainer {
  width: 2.8rem;
  height: 2.8rem;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: hidden;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.authorGroup {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.creatorYear {
  color: #666;
  font-size: 0.95em;
}

.author {
  color: #000;
  text-align: right;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

.creatorYear {
  color: #585858;
  text-align: right;

  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.date {
  color: #9a9a9a;

  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.commentContent {
  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  word-break: break-all;
  overflow-wrap: break-word;
}

.commentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.8rem;
}

.inputArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.input {
  display: flex;
  width: 25.8rem;
  height: 4rem;
  padding: 0.6rem 1.2rem;
  align-items: center;
  align-content: center;
  position: relative;

  border: 1px solid #c6c6c6;
  border-radius: 10px;
  background-color: #fff;

  color: #000;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  outline: none;
}

.fileNameWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.fileName {
  display: flex;
  height: 2.6rem;
  padding: 0.5rem 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  border-radius: 2px;
  border: 0.5px solid #c6c6c6;
  background: #f3f5f7;

  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.nameInner {
  max-width: 25.47rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.deleteFileBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.deleteFileBtn:hover {
  opacity: 0.7;
}

.submitBtn {
  display: flex;
  height: 4rem;
  padding: 1.4244rem;
  justify-content: center;
  align-items: center;
  gap: 1.0175rem;
  border-radius: 10.175px;
  border: 1.017px solid #c6c6c6;
  background: #fff;
  fill: #c6c6c6;

  transition: background-color 0.5s;
  cursor: pointer;
}

.submitBtn.active {
  background-color: #1a1a1a;
  border: 1.017px solid #9a9a9a;
  transition: background-color 0.5s;
}

.submitBtn.active svg {
  fill: #fff;
}

.noComment {
  display: flex;
  padding: 1.6rem 1.4rem;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: -2rem;

  color: #9a9a9a;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.commentActions {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.deleteBtn {
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.5rem;
}

.fileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  border: none;
}

.fileAttachment {
  max-width: 23rem;
  display: flex;
  height: 2.6rem;
  padding: 0 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 2px;
  border: 0.5px solid #c6c6c6;
  background: #f3f5f7;

  margin-top: 0.5rem;
}

.fileNameInner {
  width: 100%;

  color: #000;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.downloadBtn {
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0.4rem;
  align-items: center;
  background: none;
}

.fileAttachmentWrapper {
  display: flex;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  padding-top: 4rem;
  width: 100%;
}
