.pageContainer {
  width: 100vw;
  height: auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 500;
  color: #585858;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;

  border-radius: 2.8235rem;

  font-family: Pretendard;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4471rem;

  outline: none;

  color: #e6e6e6;
  border: 0.9px solid #585858;
  background-color: transparent;
}
