.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.4);
}

.modalBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;

  width: 128rem;
  height: 68rem;
  padding: 3rem;
  margin-top: 11.5rem;
  border-radius: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);

  background: var(--90, #1a1a1a);
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 85%;
}

.topSection > p {
  color: var(--Basic-White, #fff);

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.bodySection {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
