.topContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;

  gap: 4.6rem;
}

.buttonSection {
  display: flex;
  gap: 0.6rem;
}

.tempSubBtn {
  color: var(--60, #585858);
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 19.024px; /* 128.571% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

  display: flex;
  padding: 8.455px 14.796px;
  justify-content: center;
  align-items: center;
  gap: 6.341px;
}

.activatedBtn,
.defaultBtn {
  display: flex;
  height: 3.6rem;
  padding: 4.228px 14.796px;
  justify-content: center;
  align-items: center;
  gap: 6.341px;
  border-radius: 31.706px;
  border: 1.057px solid var(--60, #585858);
}

.activatedBtn {
  background: var(--Basic-White, #fff);
  cursor: pointer;
}

.defaultBtn {
  background-color: transparent;
  color: #c6c6c6;
}

.infoBtn {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  cursor: pointer;
}

.infoBtn > p {
  color: var(--Basic-White, #fff);

  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.modalSection {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.linkBtn {
  display: flex;
  padding: 0.2rem 0.6rem;
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6px;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
}

.activeBtn {
  background: rgba(255, 255, 255, 0.1);
  height: 3.2rem;

  color: var(--30, #9a9a9a);
  cursor: pointer;
}

.deActiveBtn {
  color: var(--60, #585858);
  border: 1px solid var(--60, #585858);
}

.activeLink > path {
  color: var(--60, #9a9a9a);
}

.deActiveLink > path {
  color: var(--60, #585858);
}

.templateBtn {
  display: flex;
  padding: 0.2rem 0.6rem;
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6px;
  border: 1px solid #4a90e2;
  background: #4a90e2;
  font-family: Pretendard;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;

  color: var(--Basic-White, #fff);

  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.templateBtn:hover {
  background: #357abd;
  border-color: #357abd;
}

.fileBtn {
  display: flex;
  padding: 0.2rem 0.6rem;
  height: 3rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--60, #585858);
  background: var(--Basic-White, #fff);
  font-family: Pretendard;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;

  color: #000;

  cursor: pointer;
}
