.modalOverlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.4);

  z-index: 999;
}

.modal {
  position: relative;
  display: flex;
  padding: 2.4rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  border: 1.302px solid rgba(255, 255, 255, 0.1);
  background: #1a1a1a;
  gap: 1.8rem;

  z-index: 1000;
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  color: #fff;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem;
}

.contentAddBtn {
  display: flex;
  height: 2.8rem;
  padding: 0.32rem 1.15rem;
  justify-content: center;
  align-items: center;

  font-family: Pretendard;
  font-size: 1.1529rem;
  font-weight: 600;

  border-radius: 2.4706rem;

  cursor: pointer;

  /* 기본 버튼 상태값 */
  background: #fff;
  border: 1px solid #fff;
  color: var(--90, #1a1a1a);
}

#active {
  background: #fff;
  border: 1px solid #fff;
  color: var(--90, #1a1a1a);
}

#deactive {
  background: transparent;
  border: 0.8px solid #585858;
  color: #c6c6c6;
}
