.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.6rem 5.6rem;

  width: 100vw;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);

  z-index: 999;
}

.nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  gap: 3rem;
}
