.articleContainer {
  padding: 3rem;
  gap: 2rem;

  overflow-y: auto;

  border-radius: 3rem;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #0f0f0f;
}

.articlesContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

#articleSingleContainer {
  width: 100%;

  gap: 2.4rem;

  cursor: pointer;

  border-radius: 1rem;
  border: 1.5px solid #c6c6c6;
  background: #f3f5f7;
}

#lastArticleContainer {
  width: 100%;
}

.articleTitle {
  width: 100%;

  color: #000;

  font-size: 1.6rem;
  font-weight: 600;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  width: 100%;

  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}

.contentInfo {
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}
