#noticeContainer {
  gap: 1rem;
}

#noticeSingleContainer {
  padding: 1rem 1.4rem;

  gap: 1.4rem;
}

.noticeTitle {
  width: 100%;

  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}
