.noticeContainer {
  min-height: 30rem;
  padding: 3rem;
  gap: 1rem;

  overflow-y: auto;

  border-radius: 3rem;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #0f0f0f;
}

.noticeSingleContainer {
  width: 100%;
  padding: 2.1rem 1.5rem;

  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.15);

  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.textContainer {
  height: auto;
  max-width: 20rem;
  max-height: 9rem;
  margin-left: 1rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.6rem;
}

.noticeTitle {
  height: auto;
  max-width: 20rem;
  max-height: 5rem;

  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
}

.noticeContent {
  height: auto;
  max-width: 20rem;
  max-height: 4rem;

  color: #c6c6c6;

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.svgContainer {
  width: 3.2rem;
  padding: 0.95rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#clickable {
  cursor: pointer;
}

#overflowEllipsis {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
