.noticeContainer {
  padding: 3rem;
  gap: 1rem;

  overflow-y: auto;

  border-radius: 3rem;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #0f0f0f;
}

#noticeSingleContainer {
  padding: 1rem 1.4rem;

  gap: 1.4rem;
}

#lastNoticeContainer {
  width: 100%;
}

.noticeTitle {
  width: 100%;

  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}
