.wrapper {
  width: 100vw;
  height: auto;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 10rem 6%;
  /* 화면 크기에 가로 padding 값 상대적으로 변경 */
}

.topContainer {
  display: flex;
  flex-direction: row;
}

.backBtnContainer {
  cursor: pointer;

  padding: 1rem 2rem 1rem 1rem;
}

.mainContainer {
  width: 100%;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 7fr 3fr;
}
